 
<% @articles.each do |article| %>
  <div class="col-lg-12">
    <div class="col-lg-3">
      <%= image_tag article.images, :class => 'col-lg-12' %>
    </div>
    <div class="col-lg-9">
      <h2><%= link_to article.title, article %></h2>
      <p><%= article.text.split('.', 2)[0].html_safe %></p>
      <p><%= article.user %></p>
     </div>
  </div>
<% end %>
<%= paginate @articles %>
