<div class="modal fade" id="sign_up" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
      </div>
      <div class="modal-body">
          <%= form_for(@user, :html => {:class => 'form-horizontal'}) do |f| %>
              <% if @user.errors.any? %>
                <div class="error_messages">
                  <h2>Form is invalid</h2>
                  <ul>
                    <% for message in @user.errors.full_messages %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
              <div class="form-group">
              <%= f.label :email, for: 'inputEmail', class: 'col-lg-3 control-label' %>
                <div class="col-lg-9">
                  <%= f.text_field :email, id: 'inputEmail', class: 'form-control' %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :password, for: 'inputPassword', class: 'col-lg-3 control-label' %>
                <div class="col-lg-9">
                  <%= f.password_field :password, id: 'inputPassword', class: 'form-control'  %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :password_confirmation, for: 'inputPasswordConfirmation', class: 'col-lg-3 control-label' %>
                <div class="col-lg-9">
                  <%= f.password_field :password_confirmation, id: 'inputPasswordConfirmation', class: 'form-control' %>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <%= f.submit 'Add User', class: 'btn btn-primary' %>
              </div>
            <% end %>
      </div>
    </div>
  </div>
</div>

