<!DOCTYPE html>
<html>
<head>
  <title>Test for Altoros :: <%= Time.now.strftime '%m-%d-%y' %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body role="document">
  <%= render 'navigation' %>

  <div class="container theme-showcase" role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Theme example</h1>
    <p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something more unique by building on or modifying it.</p>
  </div>

    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}", :class => "alert alert-success", :role => "alert" %>      
    <% end %>

    <%= yield %>
  </div>
  <% if !current_user %>
    <%= render 'new' %>
  <% end %>
</body>
</html>


